mixin video(videoItem)
  div
    h4
      a(href=`/videos/${videoItem.id}`)=videoItem.title 
    ul
      li #{videoItem.rating}/5
      li #{videoItem.comments} comment.
      li Posted #{videoItem.createAt}.
      li #{videoItem.views} views.